<h1><%= @recipe.title %> </h1> <p>
Submitted by <%= @recipe.nickname %>  <p>
<%= @recipe.photo %> <p>
<%= @recipe.description %> <p>
<%= @recipe.ingredients %> <p>
<%= @recipe.instructions %> <p>
<%= @recipe.notes %> <p>
<%= @recipe.embed %> <p>
<%= @recipe.category_ids%><p>
<%= image_tag @recipe.attachment %>
<p>
<%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>

